<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!-- <div class="container"> -->
      <h3>New Contact:</h3>

      <p><strong>Message</strong><br><%= @message %></p>
    


      <p><strong>Name</strong><br><%= @name %></p>

      <p><strong>Email</strong><br><%= @email %></p>

      <p><strong>Phone</strong><br><%= @phone %></p>

    <!-- </div> -->
  </body>
</html>